@model WebApplication1.Models.FIles

@{
    ViewBag.Title = "Upload";
}

<h2>Upload</h2>

<div><b>Table Format Data Displaying in ForEach</b><br /></div>
<table class="table table-bordered table-responsive table-hover">
    <tr>
        @foreach(var d in @Model.variables)
        {
            <th>@d</th>
        }
    <tr>

    @foreach (var d in @Model.data)
    {
        <tr>
            @foreach (var dt in @d)
            {
                <th>@dt</th>
            }
        </tr>
    }

</table>  